*{
   margin: 0;
   padding: 0;
   
}

body{
  background-image: url('../ORIGIN/Texture2D/T_BoneTile.png');
}

.nav-btn{
  border: none;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
  font-size: 20px;
  font-family: fusion-pixel;
  color: rgb(39,32,48);
}

.top{
  margin: 0 auto;
  
  text-align: center;
  width: 100%;
  height: 5%;
}

.nav{
  margin: 0 auto;
  width: 92%;
  height: 90%;
  background-color: #fff;
  
  margin-top: 1%;
  margin-bottom: 0%;
}

.nav div{
  /* float: left; */
  
  top: 40%;
  left: 50%;
  
  align-content: center;
  
  justify-content: center;/*垂直居中*/
  align-items: center;/*水平居中*/
}

.Homepage,.About,.Languages{
  float: left;
  height: 100%;
  width: 13%;
  cursor: pointer;
  
  
}

.logo{
  float: left;
  height: 100%;
  width: 10%;
  align-content: center;
  align-content: center;
  display: flex;
  justify-content: center;/*垂直居中*/
  align-items: center;/*水平居中*/
}

.logo img{
  zoom: 25%;
  
}

.nav div{
  align-content: center;
  display: flex;
  justify-content: center;/*垂直居中*/
  align-items: center;/*水平居中*/
}

.Contact{
  background-color: rgb(253,81,97);
  height: 100%;
  width: 12%;
  float: right;
  margin-right: 1%;
  align-content: center;
  display: flex;
  justify-content: center;/*垂直居中*/
  align-items: center;/*水平居中*/
}

.Contact *{
  
  float: left;
  margin-left: 5%;
  
}

.Contact p{
  font-size: 20px;
}
.Contact img{
  zoom: 5%;
}

.container{
  margin-top: 0.5%;
}

.container .left, .container .right{
  width: 45%;
  height: 89%;
  text-align: center;
  float: left;
  opacity: 70%;
  
}

.left{
  margin-left: 5%;
  color: #000;
  background-color: #fff;
}

.left{
  float: top;
}

/* zuobian */

.cap{
  margin: 0 auto;
  margin-top: 50%;
  font-size: 80px;
  color: rgb(253,81,97);
  font-family: fusion-pixel;
  opacity: 100%;
}

.more{
  font-size: 10;
  color: #333;
  
}

.Start{
  margin-top: 4%;
  width: 25%;
  height: 8%;
  border: none;
  color: #fff;
  background-color: rgb(253,81,97);
  font-size: 25px;
  cursor: pointer;
}

.right{
  margin-right: 5%;
  color: #fff;
  background-color: rgb(39,32,48);
}


.right div{
  cursor: pointer;
  float: left;
  height: 50%;
  width: 50%;
  text-align: center;
}


.right img{
  zoom: 100%;
}





.Characters{
  background-color: rgb(41,52,72);
  text-align: center;
  align-content: center;
  display: flex;
  justify-content: center;/*垂直居中*/
  align-items: center;/*水平居中*/
}

.Characters:hover{
  background-color: rgb(253,81,97);
  transition-duration: 0.5s;
  
  
}
.Characters p{
  font-size: 20px;
  font-family: fusion-pixel;
}



.Upgrades{
  background-color: rgb(41,52,72);
  text-align: center;
  align-content: center;
  display: flex;
  justify-content: center;/*垂直居中*/
  align-items: center;/*水平居中*/
}

.Upgrades:hover{
  background-color: rgb(253,81,97);
  transition-duration: 0.5s;
  
}
.Upgrades p{
  font-size: 20px;
  font-family: fusion-pixel;
}

.Runes{
  background-color: rgb(41,52,72);
  text-align: center;
  align-content: center;
  display: flex;
  justify-content: center;/*垂直居中*/
  align-items: center;/*水平居中*/
}

.Runes:hover{
  background-color: rgb(253,81,97);
  transition-duration: 0.5s;
  
}
.Runes p{
  font-size: 20px;
  font-family: fusion-pixel;
}

.Weapons{
  background-color: rgb(41,52,72);
  text-align: center;
  align-content: center;
  display: flex;
  justify-content: center;/*垂直居中*/
  align-items: center;/*水平居中*/
}

.Weapons:hover{
  background-color: rgb(253,81,97);
  
  transition-duration: 0.5s;
  
}

.Weapons p{
  font-size: 20px;
  font-family: fusion-pixel;
}

.right img{
  opacity: 100%;
}

.right img :hover{
  filter: invert(100%);
}

@font-face {
  font-family: potra;
  src: url(../fonts/Potra.ttf);
}

@font-face {
  font-family: fusion-pixel;
  src: url(../fonts/fusion-pixel.otf);
}

p{  
    font-size: 40px;
  /* font-family: fusion-pixel; */
}

a{
  text-decoration: none;
  width: 100%;
  color: #fff;
  font-size: 20px;
  font-family: fusion-pixel;
}


.nav-btn{
  background-color: #fff;
}

.nav-btn img{
  float: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  align-content: center;
  display: flex;
  justify-content: center;/*垂直居中*/
  align-items: center;/*水平居中*/
}

.nav-btn p{
  float: left;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-50%);
  align-content: center;
  display: flex;
  justify-content: center;/*垂直居中*/
  align-items: center;/*水平居中*/
}

.nav-btn::before{
outline: none;
content: '';
position: absolute;
background: #b1b1b1;
transform: 0.5s;
transform: rotate(0deg) skewY(-45deg);
}

.nav-btn::after{
position: absolute;
bottom: -20px;
left: 0px;
height: 0px;
width: 100%;
background: #b1b1b1;
transform: 0.5s;
transform: rotate(0deg) skewX(-45deg);
}

.nav-btn:focus,.nav-btn:focus:after{
  outline: none;
}

.nav-btn:hover{

background-color: rgb(253,81,97);
color: #fff;
transition-duration: 0.5s;
}