<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>20 Minutes Till Dawn</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename = 'CSS/homepage.css') }}", type="text/css">
<body>
    <div class="top">
        Banner
    </div>
    <div class="container">
        <div class="left">left</div>
        <div class="right">
            <div class="Characters"></div>
            <div class="Upgrades"></div>
            <div class="Runes"></div>
            <div class="Weapons"></div>
        </div>
    </div>
    
    
</body>
</html>