<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>20 Minutes Till Dawn</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename = 'CSS/homepage.css') }}", type="text/css">
<body>
    <div class="top">
        <div class="nav">
            <div class="logo">
                <img src="{{ url_for('static', filename='/ORIGIN/Texture2D/T_20Logo.png') }}" alt="logo">
            </div>
            <div class="Homepage">
                <button class="nav-btn">Homepage</button>
            </div>
            <div class="About">
                <button class="nav-btn">About</button>
            </div>
            <div class="Languages">
                <button class="nav-btn">Languages</button>
            </div>
            
                
            <a href="https://github.com/dafeigy">
                <div class="Contact">
                    <img src="{{ url_for('static', filename='/Images/logos/github.png') }}" alt="Github Logo">
                    <p>Contact Me</p>
                </div>
            </a>
            
        </div>
    </div>
    <div class="container">
        <div class="left">
            <div class="info">
                <p class="cap">
                    Customize
                </p>
                <p class="more">⚠This feature is <span style="color: red"">NOT Availuable</span> Now⚠</p>
            </div>
            <button class="Start">Start Now ></button>
        </div>
        <div class="right">
            <div class="Characters">
                <img src="{{ url_for('static', filename='/Images/Powerups/7-4.png') }}" alt="Characters">
                <p>Characters</p>
            </div>
            <div class="Upgrades">
                <img src="{{ url_for('static', filename='/Images/Powerups/4-5.png') }}" alt="Upgrades">
                <p>Upgrades</p>
            </div>
            <div class="Runes">
                <img src="{{ url_for('static', filename='/Images/Powerups/4-7.png') }}" alt="Runes">
                <p>Runes</p>
            </div>
            <div class="Weapons">
                <img src="{{ url_for('static', filename='/Images/Powerups/12-5.png') }}" alt="Weapons">
                <p>Weapons</p>
            </div>
        </div>
    </div>
    
    
</body>
</html>